.popup-edit__form-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  text-align: left;
  color: black;
  margin: 0;
  margin-bottom: 54px;
}
@media screen and (max-width: 767.98px) {
  .popup-edit__form-title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 75px;
  }
} 