.profile {
  max-width: 880px;
  display: flex;
  align-items: center;
<<<<<<< HEAD
}
=======
  }
>>>>>>> features/cards
@media screen and (max-width: 767.98px){
  .profile {
    flex-direction: column;
    max-width: calc(100% - 19px * 2);
  }
<<<<<<< HEAD
}
=======
}
@media screen and (min-width: 768px) and (max-width: 970px) {
  .profile {
    max-width: calc(100% - 90px);
  }
}
>>>>>>> features/cards
