.profile__edit-btn {
    background: url(../../../images/edit-btn.svg);
    background-size: contain;
    border: none;
    margin-left: 18px;
    height: 24px;
    width: 24px;
  }
  .profile__edit-btn:hover {
      opacity: .6;
      transition: .2s;
  }
  @media screen and (max-width: 767.98px){
    .profile__edit-btn {
      width: 18px;
      height: 18px;
      margin-left: 10px;
    }
  } 