.footer {
    max-width: 880px;
}
@media screen and (max-width: 767.98px) {
    .footer {
      max-width: 767px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 970px) {
    .footer {
      max-width: calc(100% - 90px);
    }
  }