.img-popup__close-btn.css {
  background: url(../../../images/close-btn.svg);
  width: 32px;
  height: 32px;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.img-popup__close-btn:hover {
  opacity: .6;
  transition: .2s;
}
